

{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auvik API",
    "description" : "To use the Auvik APIs, you’ll need a <a href=\"https://support.auvik.com/hc/en-us/articles/204309114-#topic_generate\" target=\"_blank\">valid Auvik user and the user’s API key</a>. The user must also have the correct <a href=\" https://support.auvik.com/hc/en-us/articles/115002815966\" target=\"_blank\">role permissions</a>.<br>\n    <br>\n    Note: The word <i>tenant</i> as it appears in the API descriptions means one of Auvik’s supported tenant types: multi-client or client.<br><br>All date formats are formatted in the format of YYYY-MM-DDTHH:MM:SS.sssZ, as describe in ISO 8061<br><br>To find out more about Auvik’s APIs, <a href=\"https://support.auvik.com/hc/en-us/articles/360017965092\" target=\"_blank\">click here.</a>",
    "version" : "v2",
    "x-logo" : {
      "url" : "https://d3kgwklcu683cv.cloudfront.net/global-assets/auvik-logo.png"
    }
  },
  "servers" : [ {
    "url" : "https://auvikapi.us1.my.auvik.com"
  } ],
  "security" : [ {
    "ApiKey" : [ ]
  } ],
  "tags" : [ {
    "name" : "Device",
    "description" : "The Auvik Device API allows you to view an inventory of devices and other related information discovered by Auvik.<br>\n<br>\n<li><b>Read Multiple Devices’ Info:</b> Pulls detail about multiple devices discovered on your client’s network.</li>\n    <li><b>Read a Single Device’s Info:</b> Pulls detail about a specific device discovered on your client’s network.</li>\n </ol>"
  } ],
  "paths" : {
    "/v2/api/inventory/device/info" : {
      "get" : {
        "tags" : [ "Device", "V2" ],
        "summary" : "Read Multiple Devices’ Info V2 (beta)",
        "description" : "Use the Read Multiple Devices’ Info API to pull the collected information about the various devices Auvik has discovered. You’ll need the client ID for the client you want to fetch devices from. The response includes the devices from all of the children of the requested client that the API has access to.<br>\n<br>\nTo find the client ID, run the <a href=\"/docs#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the client ID whose data you wish to fetch information from. </li>\n    <li><i>filter[deviceType]=router</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>\n\n<h3>Differences from V1 API</h3>\n<ul><li>The V2 API accepts only a single <span style=\"font-family: Courier, monospace;\">tenant</span> parameter instead of a list of tenants. All children of the provided tenant that the API key has access to will be included in the response. Due to the increased performance of the V2 API, we encourage use of the root tenant ID to fetch all of the device data where desired.</li><li>The default page size is now 1000. The max page size is 10000. We encourage fewer calls with larger page sizes when bulk fetching data.</li><li>The <span style=\"font-family: Courier, monospace;\">vendorName</span> attribute is now called <span style=\"font-family: Courier, monospace;\">make</span>.</li><li>The <span style=\"font-family: Courier, monospace;\">makeModel</span> attribute is now called <span style=\"font-family: Courier, monospace;\">model</span>, as it only contained the model of the device.</li><li>The <span style=\"font-family: Courier, monospace;\">makeModel</span> attribute has beem updated to include both the make and model together.</li><li>The <span style=\"font-family: Courier, monospace;\">lastModified</span> and <span style=\"font-family: Courier, monospace;\">stateKnown</span> attributes are no longer available.</li><li>The <span style=\"font-family: Courier, monospace;\">deviceDetail</span> object is no longer available, however the <span style=\"font-family: Courier, monospace;\">manageStatus</span> attribute is now part of the main set of device attributes.</li></ul>\n<h3>Other Notes</h3>\n<ul><li>V2 device, network and other entity IDs are the same as the IDs used by the V1 API.</li><li>V2 device API requests now return endpoint & service devices, just like the device list in the web client.</li></ul>",
        "operationId" : "readMultipleDeviceInfoV2",
        "parameters" : [ {
          "name" : "tenant",
          "in" : "query",
          "description" : "Tenant ID to request info from. Child tenants will be included in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516"
        }, {
          "name" : "filter[networks]",
          "in" : "query",
          "description" : "Filter by IDs of the networks a device is on.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MTk5NTAyNzg2ODc3MDYzMTY5LDE5OTUwMjc5MTExMjc4NTkyMw"
        }, {
          "name" : "filter[deviceType]",
          "in" : "query",
          "description" : "Filter by device type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/DeviceTypeSchema"
          },
          "example" : "accessPoint"
        }, {
          "name" : "filter[make]",
          "in" : "query",
          "description" : "Filter by the device’s make.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "\"Cisco\""
        }, {
          "name" : "filter[model]",
          "in" : "query",
          "description" : "Filter by the device’s model.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "\"AIR-CAP2700-A-K9\""
        }, {
          "name" : "filter[makeModel]",
          "in" : "query",
          "description" : "Filter by the device’s make and model.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "\"Cisco AIR-CAP2700-A-K9\""
        }, {
          "name" : "filter[onlineStatus]",
          "in" : "query",
          "description" : "Filter by the device’s online status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "online", "offline", "unreachable", "testing", "unknown", "dormant", "notPresent", "lowerLayerDown" ]
          },
          "example" : "online"
        }, {
          "name" : "filter[manageStatus]",
          "in" : "query",
          "description" : "Whether this device is managed by Auvik or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "filter[notSeenSince]",
          "in" : "query",
          "description" : "Filter by the last seen online time, returning entities not seen online after the provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-11-30T18:34:42.652Z"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 1000.0
          },
          "example" : "1000"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=1000"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 1000.0
          },
          "example" : "1000"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=1000"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of devices",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-internal" : true,
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v2/api/inventory/device/info?tenant=195798545063742726&filter[deviceType]=router'"
        } ]
      }
    },
    "/v2/api/inventory/device/info/{id}" : {
      "get" : {
        "tags" : [ "Device", "V2" ],
        "summary" : "Read a Single Device’s Info V2 (beta)",
        "description" : "Use the Read Single Device’s Info API to pull the collected information about a specific device Auvik has discovered. You’ll need the device ID for the specific device.<br>\n<br>\nTo find the device IDs, run the <a href=\"#operation/readMultipleDeviceInfo\">Read Multiple Devices API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...2Nw</i> should be the device’s ID.\n</li></ul>\n\n<h3>Differences from V1 API</h3>\n<ul><li>The <span style=\"font-family: Courier, monospace;\">vendorName</span> attribute is now called <span style=\"font-family: Courier, monospace;\">make</span>.</li><li>The <span style=\"font-family: Courier, monospace;\">makeModel</span> attribute is now called <span style=\"font-family: Courier, monospace;\">model</span>, as it only contained the model of the device.</li><li>The <span style=\"font-family: Courier, monospace;\">makeModel</span> attribute has beem updated to include both the make and model together.</li><li>The <span style=\"font-family: Courier, monospace;\">lastModified</span> and <span style=\"font-family: Courier, monospace;\">stateKnown</span> attributes are no longer available.</li><li>The <span style=\"font-family: Courier, monospace;\">deviceDetail</span> object is no longer available, however the <span style=\"font-family: Courier, monospace;\">manageStatus</span> attribute is now part of the main set of device attributes.</li></ul>\n<h3>Other Notes</h3>\n<ul><li>V2 device, network and other entity IDs are the same as the IDs used by the V1 API.</li><li>V2 device API requests now return endpoint & service devices, just like the device list in the web client.</li></ul>",
        "operationId" : "readSingleDeviceInfoV2",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of device",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v2/api/inventory/device/info/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DeviceTypeSchema" : {
        "type" : "string",
        "enum" : [ "unknown", "switch", "l3Switch", "router", "accessPoint", "firewall", "workstation", "server", "storage", "printer", "copier", "hypervisor", "multimedia", "phone", "tablet", "handheld", "virtualAppliance", "bridge", "controller", "hub", "modem", "ups", "module", "loadBalancer", "camera", "telecommunications", "packetProcessor", "chassis", "airConditioner", "virtualMachine", "pdu", "ipPhone", "backhaul", "internetOfThings", "voipSwitch", "stack", "backupDevice", "timeClock", "lightingDevice", "audioVisual", "securityAppliance", "utm", "alarm", "buildingManagement", "ipmi", "thinAccessPoint", "thinClient" ]
      },
      "deviceReadMultiple" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceResourceObjectV2"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceResourceObjectV2" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "device" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a device",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/deviceAttributesV2"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/deviceRelationshipsV2"
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceResourceObjectV2_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device"
      },
      "deviceAttributesV2" : {
        "required" : [ "description", "deviceName", "deviceType", "firmwareVersion", "ipAddresses", "lastModified", "makeModel", "onlineStatus", "serialNumber", "softwareVersion", "vendorName" ],
        "type" : "object",
        "properties" : {
          "ipAddresses" : {
            "type" : "array",
            "description" : "Device's local IP addresses",
            "example" : [ "10.0.0.1" ],
            "items" : {
              "type" : "string"
            },
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "IP Address"
          },
          "deviceName" : {
            "type" : "string",
            "description" : "Device's name",
            "example" : "MyAccessPoint",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Device Name"
          },
          "deviceType" : {
            "type" : "string",
            "description" : "What type of device it is",
            "example" : "accessPoint",
            "enum" : [ "unknown", "switch", "l3Switch", "router", "accessPoint", "firewall", "workstation", "server", "storage", "printer", "copier", "hypervisor", "multimedia", "phone", "tablet", "handheld", "virtualAppliance", "bridge", "controller", "hub", "modem", "ups", "module", "loadBalancer", "camera", "telecommunications", "packetProcessor", "chassis", "airConditioner", "virtualMachine", "pdu", "ipPhone", "backhaul", "internetOfThings", "voipSwitch", "stack", "backupDevice", "timeClock", "lightingDevice", "audioVisual", "securityAppliance", "utm", "alarm", "buildingManagement", "ipmi", "thinAccessPoint", "thinClient" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Device Type"
          },
          "deviceTypeDescription" : {
            "type" : "string",
            "description" : "Description for the device type",
            "example" : "Access Point",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Device Type Description"
          },
          "make" : {
            "type" : "string",
            "description" : "Make of this device",
            "example" : "Cisco",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Make"
          },
          "model" : {
            "type" : "string",
            "description" : "Model of this device",
            "example" : "AIR-CAP2700-A-K9",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Model"
          },
          "makeModel" : {
            "type" : "string",
            "description" : "Make and model of this device",
            "example" : "Cisco AIR-CAP2700-A-K9",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Make & Model"
          },
          "softwareVersion" : {
            "type" : "string",
            "description" : "Devices software version, if known",
            "example" : "3.9.3.7537",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Software Version"
          },
          "serialNumber" : {
            "type" : "string",
            "description" : "Device's serial number",
            "example" : "1Q2W3E4R5T6Y",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Serial Number"
          },
          "description" : {
            "type" : "string",
            "description" : "Description",
            "example" : "Linux 3.3.8 #1 Fri Oct 13 11:12:44 PDT 2017 mips",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Description"
          },
          "firmwareVersion" : {
            "type" : "string",
            "description" : "Device's firmware version",
            "example" : "unifi-v1.6.7.249-gb74e0282",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Firmware Version"
          },
          "lastSeenTime" : {
            "type" : "string",
            "description" : "Last seen online date/time of a device",
            "example" : "2018-11-30T18:34:39.452Z",
            "x-isFilter" : true,
            "x-label" : "Last Seen Time"
          },
          "onlineStatus" : {
            "type" : "string",
            "description" : "Device's online status",
            "example" : "online",
            "enum" : [ "online", "offline", "unreachable", "testing", "unknown", "dormant", "notPresent", "lowerLayerDown" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Online Status"
          },
          "manageStatus" : {
            "type" : "boolean",
            "description" : "Whether this device is managed by Auvik or not"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the devices object returned"
      },
      "deviceRelationshipsV2" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "networks" : {
            "$ref" : "#/components/schemas/deviceRelationshipsV2_networks"
          }
        },
        "description" : "This device's relationships to other resources"
      },
      "tenant" : {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/tenant_data"
          }
        },
        "description" : "This entity's owning tenant"
      },
      "meta" : {
        "title" : "meta object",
        "type" : "object",
        "properties" : {
          "totalPages" : {
            "type" : "number",
            "description" : "Total page count.",
            "example" : 5,
            "deprecated" : true
          }
        },
        "description" : "The meta object that contains non-standard meta-information"
      },
      "basicError" : {
        "title" : "JSON API Error Object",
        "required" : [ "errors" ],
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "description" : "Array of error objects",
            "items" : {
              "type" : "object"
            }
          }
        },
        "additionalProperties" : false
      },
      "deviceReadSingle" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/deviceResourceObjectV2"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceInfoReadMultiple" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/devicesResourceObject"
            }
          },
          "included" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceDetailsResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "devicesResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "device" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a device",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/deviceAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/deviceRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/devicesResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device"
      },
      "deviceAttributes" : {
        "required" : [ "description", "deviceName", "deviceType", "firmwareVersion", "ipAddresses", "lastModified", "makeModel", "onlineStatus", "serialNumber", "softwareVersion", "vendorName" ],
        "type" : "object",
        "properties" : {
          "ipAddresses" : {
            "type" : "array",
            "description" : "Device's local IP addresses",
            "example" : [ "10.0.0.1" ],
            "items" : {
              "type" : "string"
            },
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "IP Address"
          },
          "deviceName" : {
            "type" : "string",
            "description" : "Device's name",
            "example" : "MyAccessPoint",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Device Name"
          },
          "deviceType" : {
            "type" : "string",
            "description" : "What type of device it is",
            "example" : "accessPoint",
            "enum" : [ "unknown", "switch", "l3Switch", "router", "accessPoint", "firewall", "workstation", "server", "storage", "printer", "copier", "hypervisor", "multimedia", "phone", "tablet", "handheld", "virtualAppliance", "bridge", "controller", "hub", "modem", "ups", "module", "loadBalancer", "camera", "telecommunications", "packetProcessor", "chassis", "airConditioner", "virtualMachine", "pdu", "ipPhone", "backhaul", "internetOfThings", "voipSwitch", "stack", "backupDevice", "timeClock", "lightingDevice", "audioVisual", "securityAppliance", "utm", "alarm", "buildingManagement", "ipmi", "thinAccessPoint", "thinClient" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Device Type"
          },
          "makeModel" : {
            "type" : "string",
            "description" : "Make and model of this device",
            "example" : "M Series Access Point",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Make & Model"
          },
          "vendorName" : {
            "type" : "string",
            "description" : "Vendor name for this device",
            "example" : "Ubiquiti",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Vendor"
          },
          "softwareVersion" : {
            "type" : "string",
            "description" : "Devices software version, if known",
            "example" : "3.9.3.7537",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Software Version"
          },
          "serialNumber" : {
            "type" : "string",
            "description" : "Device's serial number",
            "example" : "1Q2W3E4R5T6Y",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Serial Number"
          },
          "description" : {
            "type" : "string",
            "description" : "Description",
            "example" : "Linux 3.3.8 #1 Fri Oct 13 11:12:44 PDT 2017 mips",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Description"
          },
          "firmwareVersion" : {
            "type" : "string",
            "description" : "Device's firmware version",
            "example" : "unifi-v1.6.7.249-gb74e0282",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Firmware Version"
          },
          "lastModified" : {
            "type" : "string",
            "description" : "When one of this device's attributes was last modified",
            "example" : "2018-03-12T12:00:00.000Z",
            "x-isFilter" : true,
            "x-label" : "Last Modified"
          },
          "lastSeenTime" : {
            "type" : "string",
            "description" : "Last seen online date/time of a device",
            "example" : "2018-11-30T18:34:39.452Z",
            "x-isFilter" : true,
            "x-label" : "Last Seen Time"
          },
          "onlineStatus" : {
            "type" : "string",
            "description" : "Device's online status",
            "example" : "online",
            "enum" : [ "online", "offline", "unreachable", "testing", "unknown", "dormant", "notPresent", "lowerLayerDown" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Online Status"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the devices object returned"
      },
      "deviceRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "networks" : {
            "$ref" : "#/components/schemas/deviceRelationshipsV2_networks"
          },
          "deviceDetail" : {
            "$ref" : "#/components/schemas/deviceRelationships_deviceDetail"
          }
        },
        "description" : "This device's relationships to other resources"
      },
      "deviceDetailsResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "deviceDetail" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a device",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/deviceDetailsAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/deviceDetailsRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceDetailsResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device's extra details"
      },
      "deviceDetailsAttributes" : {
        "required" : [ "discoveryStatus", "manageStatus", "trafficInsightsStatus" ],
        "type" : "object",
        "properties" : {
          "discoveryStatus" : {
            "$ref" : "#/components/schemas/deviceDetailsAttributes_discoveryStatus"
          },
          "manageStatus" : {
            "type" : "boolean",
            "description" : "Whether this device is managed by Auvik or not"
          },
          "trafficInsightsStatus" : {
            "type" : "string",
            "description" : "The status of TrafficInsights on this device",
            "example" : "notDetected",
            "enum" : [ "notDetected", "detected", "notApproved", "approved", "linking", "linkingFailed", "forwarding" ]
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the devices object returned"
      },
      "deviceDetailsRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "connectedDevices" : {
            "$ref" : "#/components/schemas/deviceDetailsRelationships_connectedDevices"
          },
          "interfaces" : {
            "$ref" : "#/components/schemas/deviceDetailsRelationships_interfaces"
          },
          "configurations" : {
            "$ref" : "#/components/schemas/deviceDetailsRelationships_configurations"
          },
          "components" : {
            "$ref" : "#/components/schemas/deviceDetailsRelationships_components"
          }
        },
        "description" : "This device's relationships to other resources"
      },
      "deviceInfoReadSingle" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/devicesResourceObject"
          },
          "included" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceDetailsResourceObject"
            }
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceDetailsReadMultiple" : {
        "title" : "root device details object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceDetailsResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceDetailsReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceDetailsReadSingle" : {
        "title" : "root device details object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/deviceDetailsResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceDetailsExtendedReadMultiple" : {
        "title" : "root device details extended object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceExtendedDetailResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceDetailsExtendedReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceExtendedDetailResourceObject" : {
        "oneOf" : [ {
          "$ref" : "#/components/schemas/stack"
        }, {
          "$ref" : "#/components/schemas/hypervisor"
        }, {
          "$ref" : "#/components/schemas/controller"
        }, {
          "$ref" : "#/components/schemas/accessPoint"
        }, {
          "$ref" : "#/components/schemas/miscDevice"
        } ]
      },
      "stack" : {
        "description" : "Extended details for a stack",
        "allOf" : [ {
          "$ref" : "#/components/schemas/deviceExtendedDetailsDevice"
        }, {
          "type" : "object",
          "properties" : {
            "attributes" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/baseDeviceExtendedDetailsAttributes"
              }, {
                "required" : [ "deviceType" ],
                "type" : "object",
                "properties" : {
                  "deviceType" : {
                    "type" : "string",
                    "description" : "What type of device it is",
                    "enum" : [ "stack" ]
                  }
                }
              } ]
            },
            "relationships" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/deviceRelationships"
              }, {
                "type" : "object",
                "properties" : {
                  "members" : {
                    "type" : "array",
                    "description" : "Members of this stack",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "string",
                          "description" : "Device ID of this stack member",
                          "example" : "MzIyMDE4NDkyNTE5OTQxMDEzLDMzMzcwMTk0OTU2MDA5NTEyMg"
                        },
                        "type" : {
                          "type" : "string",
                          "description" : "Resource type of this stack member",
                          "example" : "device"
                        },
                        "attributes" : {
                          "required" : [ "hardwarePriority", "macAddress", "makeModel", "memberName", "memberNumber", "memberRole", "memberStatus", "serialNumber", "softwarePriority", "softwareRevision" ],
                          "type" : "object",
                          "properties" : {
                            "memberName" : {
                              "type" : "string",
                              "description" : "The member's name",
                              "example" : "Stack Member 3"
                            },
                            "makeModel" : {
                              "type" : "string",
                              "description" : "The member's make and model",
                              "example" : "Extreme Summit X250-48p"
                            },
                            "memberNumber" : {
                              "type" : "string",
                              "description" : "The member's number in the stack",
                              "example" : "3"
                            },
                            "memberRole" : {
                              "type" : "string",
                              "description" : "The member's role",
                              "example" : "member",
                              "enum" : [ "master", "member", "notMember", "standby", "backup", "masterOrBackup" ]
                            },
                            "memberStatus" : {
                              "type" : "string",
                              "description" : "The member's status",
                              "example" : "waiting",
                              "enum" : [ "waiting", "progressing", "added", "ready", "sdmMismatch", "verMismatch", "featureMismatch", "newMasterInit", "provisioned", "invalid", "removed" ]
                            },
                            "macAddress" : {
                              "type" : "string",
                              "description" : "The member's MAC address",
                              "example" : "1A:2B:3C:4D:5E:6F"
                            },
                            "softwarePriority" : {
                              "type" : "string",
                              "description" : "Software priority of this stack.",
                              "example" : "1"
                            },
                            "hardwarePriority" : {
                              "type" : "string",
                              "description" : "Hardware priority of this stack.",
                              "example" : "1"
                            },
                            "serialNumber" : {
                              "type" : "string",
                              "description" : "The member's serial number",
                              "example" : "123456789"
                            },
                            "softwareRevision" : {
                              "type" : "string",
                              "description" : "Software revision/version of this stack member",
                              "example" : "1.4.5.02"
                            }
                          },
                          "description" : "Details about this stack member"
                        },
                        "links" : {
                          "type" : "object",
                          "properties" : {
                            "self" : {
                              "type" : "string",
                              "description" : "Link to this stack member's extended details",
                              "example" : "https://auvikapi.us1.my.auvik.com/v1/inventory/device/details/extended/MzIyMDE4NDkyNTE5OTQxMDEzLDMzMzcwMTk0OTU2MDA5NTEyMg"
                            },
                            "info" : {
                              "type" : "string",
                              "description" : "Link to this stack member's device info",
                              "example" : "https://auvikapi.us1.my.auvik.com/v1/inventory/device/info/MzIyMDE4NDkyNTE5OTQxMDEzLDMzMzcwMTk0OTU2MDA5NTEyMg"
                            }
                          },
                          "description" : "List of links relating to this stack member"
                        }
                      }
                    }
                  }
                }
              } ]
            }
          }
        } ]
      },
      "deviceExtendedDetailsDevice" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "deviceExtendedDetail" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a device",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceExtendedDetailsDevice_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device"
      },
      "hypervisor" : {
        "description" : "Extended details for a hypervisor",
        "allOf" : [ {
          "$ref" : "#/components/schemas/deviceExtendedDetailsDevice"
        }, {
          "type" : "object",
          "properties" : {
            "attributes" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/baseDeviceExtendedDetailsAttributes"
              }, {
                "required" : [ "deviceType", "virtualMachines" ],
                "type" : "object",
                "properties" : {
                  "deviceType" : {
                    "type" : "string",
                    "description" : "What type of device it is",
                    "enum" : [ "hypervisor" ]
                  },
                  "virtualMachines" : {
                    "type" : "array",
                    "description" : "List of every VM on this hypervisor",
                    "items" : {
                      "required" : [ "allocatedMemory", "deviceType", "powerStatus", "snapshots", "vCPU", "vDisk" ],
                      "type" : "object",
                      "properties" : {
                        "deviceType" : {
                          "type" : "string",
                          "description" : "What type of device it is",
                          "enum" : [ "virtualMachine" ]
                        },
                        "powerStatus" : {
                          "type" : "string",
                          "description" : "The VM power status",
                          "example" : "online",
                          "enum" : [ "online", "offline", "unreachable", "testing", "unknown", "dormant", "notPresent", "lowerLayerDown" ]
                        },
                        "vCPU" : {
                          "type" : "string",
                          "description" : "Number of virtual CPUs",
                          "example" : "4"
                        },
                        "vDisk" : {
                          "type" : "string",
                          "description" : "Number of virtual disks",
                          "example" : "2"
                        },
                        "allocatedMemory" : {
                          "type" : "string",
                          "description" : "How much memory is allocated to this VM, in Bytes",
                          "example" : "1082130432"
                        },
                        "snapshots" : {
                          "type" : "array",
                          "description" : "List of image snapshots for this VM",
                          "items" : {
                            "required" : [ "parentSnapshotName", "snapshotDate", "snapshotDescription", "snapshotName", "snapshotSize" ],
                            "type" : "object",
                            "properties" : {
                              "snapshotName" : {
                                "type" : "string",
                                "description" : "The snapshot's name",
                                "example" : "SomeSnapshot"
                              },
                              "snapshotDescription" : {
                                "type" : "string",
                                "description" : "The snapshot's description",
                                "example" : "This is a snapshot description"
                              },
                              "snapshotDate" : {
                                "type" : "string",
                                "description" : "The date the snapshot was taken",
                                "example" : "2018-03-12T12:00:00.000Z"
                              },
                              "snapshotSize" : {
                                "type" : "string",
                                "description" : "File size of the snapshot",
                                "example" : "1.3 GB"
                              },
                              "parentSnapshotName" : {
                                "type" : "string",
                                "description" : "Parent snapshot's name",
                                "example" : "ParentSnapshot"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              } ]
            },
            "relationships" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/deviceRelationships"
              } ]
            }
          }
        } ],
        "x-displayName" : "hypervisor"
      },
      "controller" : {
        "description" : "Extended details for a controller",
        "allOf" : [ {
          "$ref" : "#/components/schemas/deviceExtendedDetailsDevice"
        }, {
          "type" : "object",
          "properties" : {
            "attributes" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/baseDeviceExtendedDetailsAttributes"
              }, {
                "required" : [ "deviceType" ],
                "type" : "object",
                "properties" : {
                  "deviceType" : {
                    "type" : "string",
                    "description" : "What type of device it is",
                    "enum" : [ "controller" ]
                  }
                }
              } ]
            },
            "relationships" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/deviceRelationships"
              }, {
                "type" : "object",
                "properties" : {
                  "accessPoints" : {
                    "type" : "array",
                    "description" : "List of access points associated to this controller",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "string",
                          "description" : "The AP's device ID",
                          "example" : "MTk5NzYyMjM1MDE1MTY4MjYwLDE5OTc2MjQ4MzgzMjQ4NzY4Mw"
                        },
                        "type" : {
                          "type" : "string",
                          "description" : "This access point's device type",
                          "example" : "device"
                        },
                        "attributes" : {
                          "required" : [ "deviceName" ],
                          "type" : "object",
                          "properties" : {
                            "deviceName" : {
                              "type" : "string",
                              "description" : "The AP's name",
                              "example" : "Some Access Point"
                            }
                          },
                          "description" : "This access point's attributes"
                        },
                        "links" : {
                          "type" : "object",
                          "properties" : {
                            "self" : {
                              "type" : "string",
                              "description" : "Link to this device's extended details",
                              "example" : "https://auvikapi.us1.my.auvik.com/v1/inventory/device/details/extended/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
                            },
                            "info" : {
                              "type" : "string",
                              "description" : "Link to this device's device info",
                              "example" : "https://auvikapi.us1.my.auvik.com/v1/inventory/device/info/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
                            }
                          },
                          "description" : "List of links relating to this device"
                        }
                      }
                    }
                  }
                }
              } ]
            }
          }
        } ],
        "x-displayName" : "controller"
      },
      "accessPoint" : {
        "description" : "Extended details for an access point",
        "allOf" : [ {
          "$ref" : "#/components/schemas/deviceExtendedDetailsDevice"
        }, {
          "type" : "object",
          "properties" : {
            "attributes" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/baseDeviceExtendedDetailsAttributes"
              }, {
                "required" : [ "deviceType", "ssidLists" ],
                "type" : "object",
                "properties" : {
                  "deviceType" : {
                    "type" : "string",
                    "description" : "What type of device it is",
                    "enum" : [ "accessPoint" ]
                  },
                  "ssidList" : {
                    "type" : "array",
                    "description" : "List of the AP's SSIDs",
                    "example" : [ "MyWirelessNetwork" ],
                    "items" : {
                      "type" : "string"
                    }
                  }
                }
              } ]
            },
            "relationships" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/deviceRelationships"
              }, {
                "type" : "object",
                "properties" : {
                  "wirelessClients" : {
                    "type" : "array",
                    "description" : "List of wireless clients associated to this controller",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "string",
                          "description" : "This wireless client's ID",
                          "example" : "MzQ0NDI0OTkxNzU3OTU5OTA0LDM0NDQyNDk5NjU4MDcyMTM3OA"
                        },
                        "type" : {
                          "type" : "string",
                          "description" : "Resource type of this wireless client",
                          "example" : "device",
                          "enum" : [ "device" ]
                        },
                        "attributes" : {
                          "required" : [ "channel", "deviceName", "deviceType", "rssi", "ssid" ],
                          "type" : "object",
                          "properties" : {
                            "deviceType" : {
                              "type" : "string",
                              "description" : "What type of device it is",
                              "enum" : [ "workstation" ]
                            },
                            "deviceName" : {
                              "type" : "string",
                              "example" : "Someone's Workstation"
                            },
                            "ssid" : {
                              "type" : "string",
                              "description" : "The wireless client's SSID",
                              "example" : "MyWirelessNetwork"
                            },
                            "channel" : {
                              "type" : "string",
                              "description" : "The wireless client's radio channel",
                              "example" : "6"
                            },
                            "rssi" : {
                              "type" : "string",
                              "description" : "The wireless's clients RSSI",
                              "example" : "notAvailable"
                            }
                          },
                          "description" : "This wireless client's attributes"
                        },
                        "links" : {
                          "type" : "object",
                          "properties" : {
                            "self" : {
                              "type" : "string",
                              "description" : "Link to this device's extended details",
                              "example" : "https://auvikapi.us1.my.auvik.com/v1/inventory/device/details/extended/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
                            },
                            "info" : {
                              "type" : "string",
                              "description" : "Link to this device's device info",
                              "example" : "https://auvikapi.us1.my.auvik.com/v1/inventory/device/info/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
                            }
                          },
                          "description" : "List of links relating to this device"
                        }
                      }
                    }
                  }
                }
              } ]
            }
          }
        } ],
        "x-displayName" : "accessPoint"
      },
      "miscDevice" : {
        "description" : "Extended details for a miscellaneous device",
        "allOf" : [ {
          "$ref" : "#/components/schemas/deviceExtendedDetailsDevice"
        }, {
          "type" : "object",
          "properties" : {
            "attributes" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/baseDeviceExtendedDetailsAttributes"
              }, {
                "required" : [ "deviceType", "tunnels" ],
                "type" : "object",
                "properties" : {
                  "deviceType" : {
                    "type" : "string",
                    "description" : "What type of device it is",
                    "example" : "switch",
                    "enum" : [ "unknown", "switch", "l3Switch", "router", "firewall", "workstation", "server", "storage", "printer", "copier", "multimedia", "phone", "tablet", "handheld", "virtualAppliance", "bridge", "hub", "modem", "ups", "inferredSwitch", "module", "loadBalancer", "camera", "telecommunications", "packetProcessor", "chassis", "airConditioner", "inferredHub", "pdu", "ipPhone", "backhaul", "internetOfThings", "voipSwitch", "backupDevice", "timeClock", "lightingDevice", "audioVisual", "securityAppliance", "utm", "alarm", "buildingManagement", "ipmi", "thinAccessPoint", "thinClient" ]
                  },
                  "tunnels" : {
                    "type" : "array",
                    "description" : "List of tunnels on the device",
                    "items" : {
                      "required" : [ "destinationBeginIP", "destinationEndIP", "localGateway", "namePhase1", "namePhase2", "remoteGateway", "sourceBeginIP", "sourceEndIP" ],
                      "type" : "object",
                      "properties" : {
                        "namePhase1" : {
                          "type" : "string",
                          "description" : "The defining name of the first phase within Internet Key Exchange (IKE) tunnel negotiation",
                          "example" : "Phase One"
                        },
                        "namePhase2" : {
                          "type" : "string",
                          "description" : "The defining name of the second phase within Internet Key Exchange (IKE) tunnel negotiation",
                          "example" : "Phase Two"
                        },
                        "localGateway" : {
                          "type" : "string",
                          "description" : "IP address of the local IKE gateway",
                          "example" : "10.0.0.0"
                        },
                        "remoteGateway" : {
                          "type" : "string",
                          "description" : "IP address of the remote IKE gateway",
                          "example" : "192.168.0.1"
                        },
                        "sourceBeginIP" : {
                          "type" : "string",
                          "description" : "The first IP address within the range of addresses assigned to IPSec tunnel interfaces on the local device",
                          "example" : "255.255.255.0"
                        },
                        "sourceEndIP" : {
                          "type" : "string",
                          "description" : "The last IP address within the range of addresses assigned to IPSec tunnel interfaces on the local device",
                          "example" : "255.255.255.255"
                        },
                        "destinationBeginIP" : {
                          "type" : "string",
                          "description" : "The first IP address within the range of addresses assigned to IPSec tunnel interfaces on the remote device",
                          "example" : "255.255.255.0"
                        },
                        "destinationEndIP" : {
                          "type" : "string",
                          "description" : "The last IP address within the range of addresses assigned to IPSec tunnel interfaces on the remote device",
                          "example" : "255.255.255.255"
                        }
                      }
                    }
                  }
                }
              } ]
            },
            "relationships" : {
              "allOf" : [ {
                "$ref" : "#/components/schemas/deviceRelationships"
              } ]
            }
          }
        } ],
        "x-displayName" : "miscDevice"
      },
      "deviceDetailsExtendedReadSingle" : {
        "title" : "root device details extended object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/deviceExtendedDetailResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceWarrantyReadMultiple" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceWarrantyResourceObject"
            },
            "x-omitempty" : false
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceWarrantyReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceWarrantyResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "deviceWarranty" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a device",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/deviceWarrantyAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/deviceWarrantyRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceWarrantyResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device with warranty information"
      },
      "deviceWarrantyAttributes" : {
        "required" : [ "deviceName", "recommendedSoftwareVersion", "serviceCoverageStatus", "warrantyCoverageStatus", "warrantyExpirationDate" ],
        "type" : "object",
        "properties" : {
          "deviceName" : {
            "type" : "string",
            "description" : "Device's name",
            "example" : "MyAccessPoint",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Device Name"
          },
          "serviceCoverageStatus" : {
            "type" : "string",
            "description" : "Service coverage status",
            "example" : "Covered",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Service Coverage Status"
          },
          "serviceAttachmentStatus" : {
            "type" : "string",
            "description" : "Service attachment status",
            "example" : "Available",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Service Attachment Status"
          },
          "contractRenewalAvailability" : {
            "type" : "string",
            "description" : "Contract renewal availability",
            "example" : "Available",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Contract Renewal Availability"
          },
          "warrantyCoverageStatus" : {
            "type" : "string",
            "description" : "Warranty coverage status",
            "example" : "Not Covered",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Warranty Coverage Status"
          },
          "warrantyExpirationDate" : {
            "type" : "string",
            "description" : "Warranty expiration date for this device. Value is what is returned by Cisco device, which is not guaranteed to be a date.",
            "example" : "2015-07-31T00:00:00.000Z",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Warranty End Date"
          },
          "recommendedSoftwareVersion" : {
            "type" : "string",
            "description" : "Recommended Devices software version, if known",
            "example" : "15.1(4)M12a - 06 Oct 2016",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Recommended Firmware Version"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the devices object returned"
      },
      "deviceWarrantyRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          }
        },
        "description" : "This device's relationships to other resources"
      },
      "deviceWarrantyReadSingle" : {
        "title" : "root device object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/deviceWarrantyResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceLifecycleReadMultiple" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/deviceLifecycleResourceObject"
            },
            "x-omitempty" : false
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceLifecycleReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "deviceLifecycleResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "deviceLifecycle" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a device",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/deviceLifecycleAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/deviceLifecycleRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/deviceLifecycleResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device with lifecycle information"
      },
      "deviceLifecycleAttributes" : {
        "required" : [ "deviceName", "lastSupportStatus", "salesAvailability", "securitySoftwareMaintenanceStatus", "softwareMaintenanceStatus" ],
        "type" : "object",
        "properties" : {
          "deviceName" : {
            "type" : "string",
            "description" : "Device's name",
            "example" : "MyAccessPoint",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Device Name"
          },
          "salesAvailability" : {
            "type" : "string",
            "description" : "Availability to order the requested product through Cisco point-of-sale mechanisms",
            "example" : "available",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Sales Availability"
          },
          "softwareMaintenanceStatus" : {
            "type" : "string",
            "description" : "Availability of any software maintenance releases or bug fixes to the software product released by Cisco Engineering",
            "example" : "available",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Software Maintenance Status"
          },
          "securitySoftwareMaintenanceStatus" : {
            "type" : "string",
            "description" : "Availability of any planned maintenance release or scheduled software remedy for a security vulnerability issued by Cisco Engineering",
            "example" : "available",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Security Software Maintenance Status"
          },
          "lastSupportStatus" : {
            "type" : "string",
            "description" : "Availability of service and support for the product",
            "example" : "available",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Last Support Status"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the devices object returned"
      },
      "deviceLifecycleRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "device" : {
            "$ref" : "#/components/schemas/deviceLifecycleRelationships_device"
          }
        },
        "description" : "This device's relationships to other resources"
      },
      "deviceLifecycleReadSingle" : {
        "title" : "root device object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/deviceLifecycleResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "configReadMultiple" : {
        "title" : "root configuration object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/configResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/configReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "configResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "configuration" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a configuration",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/configAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/configRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/configResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik device's configuration"
      },
      "configAttributes" : {
        "required" : [ "backupTime", "device", "isRunning" ],
        "type" : "object",
        "properties" : {
          "backupTime" : {
            "type" : "string",
            "description" : "The time at which this configuration was backed up.",
            "example" : "2018-03-12T12:00:00.000Z"
          },
          "isRunning" : {
            "type" : "boolean",
            "description" : "Whether or not the configuration is currently running on the device.",
            "example" : true
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the configuration object returned"
      },
      "configRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "device" : {
            "$ref" : "#/components/schemas/deviceLifecycleRelationships_device"
          }
        },
        "description" : "This configurations relationships to other resources"
      },
      "configReadSingle" : {
        "title" : "root configuration object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/configResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "networkInfoReadMultiple" : {
        "title" : "root networks object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/networksResourceObject"
            }
          },
          "included" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/networkDetailsResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/networkInfoReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "networksResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "network" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this network",
            "example" : "MTk5NTAyNzg2ODc3MDYzMTY5LDE5OTUwMjc5MTExMjc4NTkyMw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/networkAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/networkRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/networksResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik network"
      },
      "networkAttributes" : {
        "required" : [ "description", "lastModified", "networkName", "networkType", "scanStatus" ],
        "type" : "object",
        "properties" : {
          "networkType" : {
            "type" : "string",
            "description" : "This network's type",
            "example" : "routed",
            "enum" : [ "routed", "vlan", "wifi", "loopback", "network", "layer2", "internet" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Network Type"
          },
          "networkName" : {
            "type" : "string",
            "description" : "Name of this network, usually an IP/subnet or an SSID",
            "example" : "192.168.4.0/24",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Network Name"
          },
          "description" : {
            "type" : "string",
            "description" : "Description of this network, also often an IP/subnet or an SSID",
            "example" : "192.168.4.0/24",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Description"
          },
          "scanStatus" : {
            "type" : "string",
            "description" : "If this network is set to be scanned or not",
            "example" : "true",
            "enum" : [ "true", "false", "notAllowed", "unknown" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Scan Status"
          },
          "lastModified" : {
            "type" : "string",
            "description" : "When one of this network's attributes was last modified",
            "example" : "2018-03-12T12:00:00.000Z",
            "x-isFilter" : true,
            "x-label" : "Last Modified"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the networks object returned"
      },
      "networkRelationships" : {
        "type" : "object",
        "properties" : {
          "networkDetail" : {
            "$ref" : "#/components/schemas/networkRelationships_networkDetail"
          },
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "devices" : {
            "$ref" : "#/components/schemas/networkRelationships_devices"
          }
        },
        "description" : "This network's relationships to other resources"
      },
      "networkDetailsResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "networkDetail" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a network",
            "example" : "MTk5NTAyNzg2ODc3MDYzMTY5LDE5OTUwMjc5MTExMjc4NTkyMw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/networkDetailsAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/networkDetailsRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/networkDetailsResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik network's extra details"
      },
      "networkDetailsAttributes" : {
        "required" : [ "collectorSelection", "excludedIpAddresses", "primaryCollector", "scope", "secondaryCollectors" ],
        "type" : "object",
        "properties" : {
          "scope" : {
            "type" : "string",
            "description" : "Whether this network is a private or public network",
            "example" : "private",
            "enum" : [ "private", "public" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Scope"
          },
          "primaryCollector" : {
            "type" : "string",
            "description" : "UUID of the primary Auvik collector assigned to this network",
            "example" : "98a1790e-ec59-481f-8529-4f836b0bd1ca",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Primary Collector"
          },
          "secondaryCollectors" : {
            "type" : "array",
            "description" : "List of UUIDs of secondary Auvik collectors assigned to this network, if any",
            "items" : {
              "type" : "string",
              "example" : "8e604713-7606-4e8c-8200-bd6d4317e069"
            },
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Secondary Collector"
          },
          "collectorSelection" : {
            "type" : "string",
            "description" : "How collectors for this network are selected",
            "example" : "automatic",
            "enum" : [ "automatic", "manual" ],
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Collector Selection"
          },
          "excludedIpAddresses" : {
            "type" : "array",
            "description" : "IP addresses and IP address ranges on this network that have been excluded from scans",
            "items" : {
              "type" : "string",
              "example" : "192.168.4.10-192.168.4.25"
            },
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Excluded IP Address"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the networks object returned"
      },
      "networkDetailsRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          }
        },
        "description" : "This network's relationships to other resources"
      },
      "networkInfoReadSingle" : {
        "title" : "root networks object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/networksResourceObject"
          },
          "included" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/networkDetailsResourceObject"
            }
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "networkDetailsReadMultiple" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/networkDetailsResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/networkDetailsReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "networkDetailsReadSingle" : {
        "title" : "root devices object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/networkDetailsResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "interfaceInfoReadMultiple" : {
        "title" : "root interfaces object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/interfaceResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/interfaceInfoReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "interfaceResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "interface" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for a interface",
            "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMjg5NjAwMw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/interfaceAttributes"
          },
          "links" : {
            "$ref" : "#/components/schemas/interfaceResourceObject_links"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/interfaceRelationships"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an interface"
      },
      "interfaceAttributes" : {
        "required" : [ "adminStatus", "customConnections", "duplex", "interfaceName", "interfaceType", "ipAddresses", "lastModified", "macAddress", "negotiatedSpeed", "operationalStatus" ],
        "type" : "object",
        "properties" : {
          "interfaceName" : {
            "type" : "string",
            "description" : "This interface's name",
            "example" : "Interface 1",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Interface Name"
          },
          "interfaceType" : {
            "type" : "string",
            "description" : "This interface's type",
            "example" : "ethernet",
            "enum" : [ "ethernet", "wifi", "bluetooth", "cdma", "coax", "cpu", "distributedVirtualSwitch", "firewire", "gsm", "ieee8023AdLag", "inferredWired", "inferredWireless", "interface", "linkAggregation", "loopback", "modem", "wimax", "optical", "other", "parallel", "ppp", "radiomac", "rs232", "tunnel", "unknown", "usb", "virtualBridge", "virtualNic", "virtualSwitch", "vlan" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Interface Type"
          },
          "macAddress" : {
            "type" : "string",
            "description" : "MAC address",
            "example" : "1A:2B:3C:4D:5E:6F",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Mac Address"
          },
          "negotiatedSpeed" : {
            "type" : "string",
            "description" : "Negotiated speed",
            "example" : "1.0 Gbit/s",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Negotiated Speed"
          },
          "duplex" : {
            "type" : "string",
            "description" : "Duplex mode of this interface",
            "example" : "full",
            "enum" : [ "unknown", "half", "full" ],
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Duplex"
          },
          "customConnections" : {
            "type" : "boolean",
            "description" : "Whether this interface allows custom connections",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Custom Connections"
          },
          "ipAddresses" : {
            "type" : "array",
            "description" : "This interface's IP addresses",
            "example" : [ "10.0.0.1" ],
            "items" : {
              "type" : "string"
            },
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "IP Address"
          },
          "operationalStatus" : {
            "type" : "string",
            "description" : "This interface's operational status",
            "example" : "online",
            "enum" : [ "online", "offline", "unreachable", "testing", "unknown", "dormant", "notPresent", "lowerLayerDown" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Operational Status"
          },
          "adminStatus" : {
            "type" : "boolean",
            "description" : "Whether this interface is enabled",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Admin Status"
          },
          "lastModified" : {
            "type" : "string",
            "description" : "When one of this interface's attributes was last modified",
            "example" : "2018-03-12T12:00:00.000Z",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Last Modified"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the interfaces object returned"
      },
      "interfaceRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "connectedTo" : {
            "$ref" : "#/components/schemas/interfaceRelationships_connectedTo"
          },
          "networks" : {
            "$ref" : "#/components/schemas/interfaceRelationships_networks"
          },
          "parentDevice" : {
            "$ref" : "#/components/schemas/interfaceRelationships_parentDevice"
          }
        },
        "description" : "This interface's relationships to other resources"
      },
      "interfaceInfoReadSingle" : {
        "title" : "root interfaces object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/interfaceResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "componentInfoReadMultiple" : {
        "title" : "root components object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/componentsResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/componentInfoReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "componentsResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "component" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this component",
            "example" : "MTg2OTI2NTY1MDQ3MDExMDc0LDE5Nzc2OTU1ODM1MTAyMTMxOA",
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/componentAttributes"
          },
          "links" : {
            "$ref" : "#/components/schemas/componentsResourceObject_links"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/componentRelationships"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik component"
      },
      "componentAttributes" : {
        "required" : [ "componentName", "componentType", "currentStatus", "lastModified" ],
        "type" : "object",
        "properties" : {
          "componentName" : {
            "type" : "string",
            "description" : "This component's name",
            "example" : "CPU Core 26",
            "x-isFilter" : false,
            "x-label" : "Component Name"
          },
          "componentType" : {
            "type" : "string",
            "description" : "This component's type",
            "example" : "cpu",
            "enum" : [ "cpu", "disk", "fan", "memory", "powerSupply", "storageController", "systemBoard" ]
          },
          "currentStatus" : {
            "type" : "string",
            "description" : "High level description of this component's status",
            "example" : "ok",
            "enum" : [ "ok", "degraded", "failed" ],
            "x-isFilter" : true,
            "x-label" : "Current Status"
          },
          "lastModified" : {
            "type" : "string",
            "description" : "When one of this component's attributes was last modified",
            "example" : "2018-03-13T12:00:00.000Z",
            "x-isFilter" : true,
            "x-label" : "Last Modified"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the components object returned"
      },
      "componentRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          },
          "parentDevice" : {
            "$ref" : "#/components/schemas/componentRelationships_parentDevice"
          }
        },
        "description" : "This component's relationships to other resources"
      },
      "componentInfoReadSingle" : {
        "title" : "root components object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/componentsResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "entityNotesReadMultiple" : {
        "title" : "root entity notes object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/noteResourceObject"
            }
          },
          "links" : {
            "$ref" : "#/components/schemas/entityNotesReadMultiple_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "noteResourceObject" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "The type of object in the API",
            "enum" : [ "entityNote" ]
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this note",
            "example" : "MTg2OTI2NTY1MDQ3MDExMDc0LDE5Nzc2OTU1ODM1MTAyMTMxOA",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/noteAttributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/noteRelationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/noteResourceObject_links"
          }
        },
        "additionalProperties" : false,
        "description" : "The template for a resource object representing an Auvik note"
      },
      "noteAttributes" : {
        "required" : [ "body", "entityId", "entityName", "entityType", "lastModified", "lastModifiedBy", "title" ],
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "description" : "This note's title",
            "example" : "SomeNoteTitle",
            "x-isRequired" : true,
            "x-isFilter" : false,
            "x-label" : "Title"
          },
          "body" : {
            "type" : "string",
            "description" : "Content of this note",
            "example" : "This is a note about one of my networks.",
            "x-isRequired" : true,
            "x-isFilter" : false,
            "x-label" : "Content"
          },
          "entityId" : {
            "type" : "string",
            "description" : "The related entity's ID",
            "example" : "MTk5NTAyNzg2ODc3MDYzMTY5LDE5OTUwMjc5MTExMjc4NTkyMw",
            "x-isRequired" : true,
            "x-isFilter" : true,
            "x-label" : "ID"
          },
          "entityType" : {
            "type" : "string",
            "description" : "The related entity type",
            "example" : "network",
            "enum" : [ "root", "device", "network", "interface" ],
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Type"
          },
          "entityName" : {
            "type" : "string",
            "description" : "The related entity's name",
            "example" : "192.168.4.0/24",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Name"
          },
          "lastModifiedBy" : {
            "type" : "string",
            "description" : "The username that last modified the note",
            "example" : "John User",
            "x-isRequired" : false,
            "x-isFilter" : false,
            "x-label" : "Last Modified By"
          },
          "lastModified" : {
            "type" : "string",
            "description" : "When one of this entity note's attributes was last modified",
            "example" : "2018-03-12T12:00:00.000Z",
            "x-isRequired" : false,
            "x-isFilter" : true,
            "x-label" : "Last Modified"
          }
        },
        "additionalProperties" : false,
        "description" : "The type-specific properties of the notes object returned"
      },
      "noteRelationships" : {
        "type" : "object",
        "properties" : {
          "tenant" : {
            "$ref" : "#/components/schemas/tenant"
          }
        },
        "description" : "This entity note's relationships to other resources"
      },
      "entityNotesReadSingle" : {
        "title" : "root entity notes object",
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/noteResourceObject"
          }
        },
        "additionalProperties" : false,
        "description" : "Root level object per the json-api spec"
      },
      "entityAuditReadMultiple" : {
        "title" : "root entity audits object",
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/auditsResourceObject"
            }
[...]
